# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

release/*
release/mac-arm64
relesse/*.zip
relesse/*.zip.*
relesse/*.zip.blockmap
relesse/*.tar.gz
relesse/*.tar.bz2
relesse/*.tar.xz
relesse/*.tar.lzma
relesse/*.tar.lz
relesse/*.tar.lzo
relesse/*.tar.lrz
relesse/*.tar.lzo
release/*.dmg*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
